@using ECommerce.Models

@model List<Order>

@{
    ViewData["Title"] = "viewOrder";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<hr />
<h1 class="text-center text-decoration-underline">My Orders</h1>
<hr />

@{
    int? id = Context.Session.GetInt32("customerId") , counter = 0 ;
    long totalPrice = 0;
}

<table class="table table-info table-bordered text-center">
   <tr class="table-dark">
       <th>Sequance</th>
       <th>Order Id</th>
       <th>Product Name</th>
       <th>Product Price</th>
       <th>Quantity </th>
       <th>Color </th>
       <th>Size </th>
       <th>Total Price </th>

   </tr>
   @foreach(var i in Model){
        totalPrice += (long)i.order_total;  
        <tr>
           <td>@{++counter;}@counter</td>
           <td>@i.Id</td>
           <td>@i.product.Name</td>
           <td>@i.product.Price</td>
           <td>@i.Quantity</td>
           <td>@i.Color</td>
           <td>@i.Size</td>
           <td class="table-dark">@i.order_total</td>
       </tr>
   }
   <tr class="table-borderless table-dark">
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td>Total Price</td>
       <td>@totalPrice</td>
   </tr>

</table>