@using ECommerce.Models

@model List<Order>

@{
    ViewData["Title"] = "viewOrder";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<hr />
<h1 class="text-center">All Orders</h1>
<hr />

@{
    int? id = Context.Session.GetInt32("customerId") , counter = 0 ;
    long totalPrice = 0;
}

<table class="table table-info table-bordered text-center">
   <tr class="table-dark">
       <th>Sequance</th>
       <th>Order Id</th>
       <th>Product Name</th>
       <th>Product Price</th>
       <th>Sub Total </th>
       <th>Quantity </th>
       <th>Total Price </th>

   </tr>
   @foreach(var i in Model){
        <tr>
            <td>@{++counter;}@counter</td>
           <td>@i.Id</td>
           <td>@i.product.Name</td>
           <td>@i.product.Price</td>
           <td>@i.subTotal</td>
           <td>@i.product_Quantity</td>
           <td class="table-dark">@i.order_total</td>
       </tr>
   }

</table>